{% extends 'layout.html.twig' %}

{% block title %}Bienvenido a Maps Web{% endblock %}

{% block body %}

<div class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">MapsWeb</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

    <div class="container">

      <!-- Main component for a primary marketing message or call to action -->
      <div class="jumbotron">
        <h1>Maps Web</h1>
        <p>This example is a quick exercise to illustrate how the default, static and fixed to top navbar work. 
            It includes the responsive CSS and HTML, so it also adapts to your viewport and device.</p>
        
        <ul>
            {% for place in places %}
                <li>
                    <a href="map/{{place.id}}">{{place.name}}</a>
                </li>
            {% endfor %}
        </ul>
      </div>

    </div> <!-- /container -->




{% endblock %}